In [12]:
from datetime import date

In [13]:
from datetime import date
from jugaad_data.nse import bhavcopy_save, bhavcopy_fo_save

In [17]:
import os

In [26]:
index_stock_path = r"directory/index_stock"
derivative = r"directory/derivative"

In [27]:
os.makedirs(index_stock_path, exist_ok=True)
os.makedirs(derivative, exist_ok=True)

In [ ]:
for year in range(2014,2025):
    for month in range(1,13):
        for day in range(1,32):
            print(f"For year: {year} / month: {month} / day {day}")
            try:
                # Download bhavcopy
                bhavcopy_save(date(year,month,day), index_stock_path)

                # Download bhavcopy for futures and options
                bhavcopy_fo_save(date(year,month,day), derivative)
            except Exception as e:
                print(year, month, day, e)

In [30]:
# Download stock data to pandas dataframe
from jugaad_data.nse import stock_df
df = stock_df(symbol="SBIN", from_date=date(2024,1,1),
            to_date=date(2024,5,16), series="EQ")
df

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-05-15,EQ,821.00,825.30,818.05,818.20,820.70,820.30,821.25,839.65,543.20,9755062,8.011323e+09,184595,SBIN
1,2024-05-14,EQ,813.00,822.40,807.90,808.80,817.90,818.20,815.81,839.65,543.20,10912462,8.902479e+09,215574,SBIN
2,2024-05-13,EQ,819.85,819.85,798.60,817.35,808.95,808.80,807.30,839.65,543.20,15398505,1.243125e+10,300588,SBIN
3,2024-05-10,EQ,827.00,832.05,815.60,819.80,816.85,817.35,822.63,839.65,543.20,20543142,1.689948e+10,337836,SBIN
4,2024-05-09,EQ,811.90,839.65,803.55,810.80,820.00,819.80,820.70,839.65,543.20,49290254,4.045253e+10,710585,SBIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2024-01-05,EQ,645.00,651.75,637.75,642.75,641.45,641.95,645.02,660.40,499.35,15984585,1.031045e+10,272662,SBIN
88,2024-01-04,EQ,642.50,646.40,638.65,643.45,643.60,642.75,642.95,660.40,499.35,13883388,8.926356e+09,271568,SBIN
89,2024-01-03,EQ,639.35,648.00,635.80,639.45,644.50,643.45,643.21,660.40,499.35,14571772,9.372733e+09,252225,SBIN
90,2024-01-02,EQ,641.35,648.00,633.85,641.35,639.20,639.45,640.47,660.40,499.35,15164482,9.712347e+09,249803,SBIN
91,2024-01-01,EQ,642.20,646.90,638.00,642.05,638.10,641.35,643.93,660.40,499.35,8295548,5.341716e+09,257804,SBIN

In [31]:
from jugaad_data.nse import NSELive
n = NSELive()
q = n.stock_quote("HDFC")
q

{'info': {'symbol': 'HDFC',
  'companyName': 'Housing Development Finance Corporation Limited',
  'industry': 'FINANCE - HOUSING',
  'activeSeries': [],
  'debtSeries': [],
  'isFNOSec': False,
  'isCASec': False,
  'isSLBSec': False,
  'isDebtSec': False,
  'isSuspended': True,
  'tempSuspendedSeries': ['EQ', 'W1', 'W2', 'W3'],
  'isETFSec': False,
  'isDelisted': False,
  'isin': 'INE001A13049',
  'isMunicipalBond': False,
  'isTop10': False,
  'identifier': 'HDFCEQN'},
 'metadata': {'series': 'EQ',
  'symbol': 'HDFC',
  'isin': 'INE001A01036',
  'status': 'Permanent Suspended',
  'listingDate': '23-Oct-1996',
  'industry': 'NA',
  'lastUpdateTime': '-',
  'pdSectorPe': 'NA',
  'pdSymbolPe': 'NA',
  'pdSectorInd': 'NA'},
 'securityInfo': {'boardStatus': 'Main',
  'tradingStatus': 'Suspended',
  'tradingSegment': 'Normal Market',
  'sessionNo': '-',
  'slb': 'No',
  'classOfShare': 'Equity',
  'derivatives': 'No',
  'surveillance': {'surv': None, 'desc': None},
  'faceValue': 2,
  'issuedSize': 1851426483},
 'sddDetails': {'SDDAuditor': '-', 'SDDStatus': '-'},
 'priceInfo': {'lastPrice': 0,
  'change': 0,
  'pChange': 0,
  'previousClose': 0,
  'open': 0,
  'close': 2724.3,
  'vwap': 0,
  'lowerCP': '2472.65',
  'upperCP': '3022.05',
  'pPriceBand': 'No Band',
  'basePrice': 0,
  'intraDayHighLow': {'min': 0, 'max': 0, 'value': 0},
  'weekHighLow': {'min': 2618,
   'minDate': '15-Jun-2023',
   'max': 2927.4,
   'maxDate': '03-Jul-2023',
   'value': 0},
  'iNavValue': None,
  'checkINAV': False},
 'industryInfo': {'macro': '',
  'sector': '',
  'industry': '',
  'basicIndustry': ''},
 'preOpenMarket': {'preopen': [{'iep': True}], 'ato': {'buy': 0, 'sell': 0}}}

In [10]:
from datetime import date
from jugaad_data.nse import expiry_dates
expiries = expiry_dates(date(2024,4,30))
expiries

[datetime.date(2024, 5, 8),
 datetime.date(2024, 6, 26),
 datetime.date(2024, 5, 13),
 datetime.date(2024, 5, 23),
 datetime.date(2024, 7, 29),
 datetime.date(2024, 5, 22),
 datetime.date(2024, 5, 17),
 datetime.date(2024, 12, 26),
 datetime.date(2025, 6, 26),
 datetime.date(2025, 12, 24),
 datetime.date(2028, 12, 28),
 datetime.date(2024, 5, 30),
 datetime.date(2025, 3, 27),
 datetime.date(2024, 5, 31),
 datetime.date(2024, 5, 29),
 datetime.date(2024, 12, 24),
 datetime.date(2024, 5, 21),
 datetime.date(2024, 5, 28),
 datetime.date(2024, 5, 14),
 datetime.date(2024, 9, 26),
 datetime.date(2026, 12, 31),
 datetime.date(2024, 5, 15),
 datetime.date(2024, 4, 30),
 datetime.date(2024, 6, 24),
 datetime.date(2024, 5, 7),
 datetime.date(2024, 5, 9),
 datetime.date(2024, 5, 27),
 datetime.date(2024, 6, 27),
 datetime.date(2024, 5, 16),
 datetime.date(2024, 6, 25),
 datetime.date(2024, 5, 2),
 datetime.date(2024, 7, 31),
 datetime.date(2024, 6, 4),
 datetime.date(2024, 7, 25),
 datetime.date(2024, 9, 25),
 datetime.date(2024, 5, 6)]

In [10]:
from datetime import date
from jugaad_data.nse import expiry_dates
expiries = expiry_dates(date(2020,1,1), "FUTSTK")
print(expiries)

[datetime.date(2020, 2, 27), datetime.date(2020, 1, 30), datetime.date(2020, 3, 26)]

In [33]:
from jugaad_data.nse import derivatives_csv, derivatives_df
df = derivatives_df(symbol="SBIN", from_date=date(2020,1,1), to_date=date(2020,1,30),
            expiry_date=date(2020,1,30), instrument_type="FUTSTK")
print(df.head())

        DATE     EXPIRY    OPEN    HIGH     LOW   CLOSE     LTP  SETTLE PRICE  \
0 2020-01-30 2020-01-30  316.25  316.40  305.80  310.55  309.60        310.70
1 2020-01-29 2020-01-30  317.55  320.15  315.65  316.60  317.05        316.60
2 2020-01-28 2020-01-30  317.35  320.40  311.00  315.20  316.40        315.20
3 2020-01-27 2020-01-30  321.30  322.30  316.05  316.45  316.55        316.45
4 2020-01-24 2020-01-30  324.50  327.95  322.00  324.55  324.80        324.55

   TOTAL TRADED QUANTITY  MARKET LOT  PREMIUM VALUE  OPEN INTEREST  \
0               72678000        3000   2.267156e+10      6564000.0
1               69747000        3000   2.217897e+10     38799000.0
2               97299000        3000   3.082756e+10     65694000.0
3               66660000        3000   2.128511e+10     94551000.0
4               61323000        3000   1.997960e+10    102711000.0

   CHANGE IN OI SYMBOL
0   -32235000.0   SBIN
1   -26895000.0   SBIN
2   -28857000.0   SBIN
3    -8160000.0   SBIN
4    -9417000.0   SBIN

In [35]:
from jugaad_data.nse import derivatives_csv, derivatives_df
df = derivatives_df(symbol="SBIN", from_date=date(2020,1,1), to_date=date(2020,1,30),
            expiry_date=date(2020,1,30), instrument_type="OPTSTK", option_type="CE", strike_price=500)
df.head()

KeyError: "None of [Index(['FH_TIMESTAMP', 'FH_EXPIRY_DT', 'FH_OPTION_TYPE', 'FH_STRIKE_PRICE',\n       'FH_OPENING_PRICE', 'FH_TRADE_HIGH_PRICE', 'FH_TRADE_LOW_PRICE',\n       'FH_CLOSING_PRICE', 'FH_LAST_TRADED_PRICE', 'FH_SETTLE_PRICE',\n       'FH_TOT_TRADED_QTY', 'FH_MARKET_LOT', 'FH_TOT_TRADED_VAL',\n       'FH_OPEN_INT', 'FH_CHANGE_IN_OI', 'FH_SYMBOL'],\n      dtype='object')] are in the [columns]"

In [37]:
from jugaad_data.nse import derivatives_csv, derivatives_df
df = derivatives_df(symbol="NIFTY", from_date=date(2020,1,1), to_date=date(2020,1,30),
            expiry_date=date(2020,1,30), instrument_type="FUTIDX")
df.head()

,DATE,EXPIRY,OPEN,HIGH,LOW,CLOSE,LTP,SETTLE PRICE,TOTAL TRADED QUANTITY,MARKET LOT,PREMIUM VALUE,OPEN INTEREST,CHANGE IN OI,SYMBOL
0,2020-01-30,2020-01-30,12115.60,12117.90,12006.3,12043.50,12036.80,12035.80,9898650,75,1.192217e+11,5467875.0,-2761125.0,NIFTY
1,2020-01-29,2020-01-30,12114.40,12182.45,12095.6,12121.55,12121.00,12121.55,10762125,75,1.306506e+11,8229000.0,-2666025.0,NIFTY
2,2020-01-28,2020-01-30,12124.90,12162.45,12038.0,12068.00,12075.00,12068.00,9964200,75,1.206328e+11,10895025.0,-1474650.0,NIFTY
3,2020-01-27,2020-01-30,12168.85,12209.60,12117.5,12125.70,12118.95,12125.70,9734250,75,1.184152e+11,12369675.0,-24825.0,NIFTY
4,2020-01-24,2020-01-30,12204.75,12292.70,12157.0,12271.60,12271.20,12271.60,8184525,75,1.002034e+11,12394500.0,-203325.0,NIFTY

In [45]:
from jugaad_data.nse import derivatives_csv, derivatives_df
df = derivatives_df(symbol="NIFTY", from_date=date(2024,4,1), to_date=date(2024,5,15),
            expiry_date=date(2024,5,16), instrument_type="OPTIDX", option_type="CE", strike_price=22500)
df.head()

,DATE,EXPIRY,OPTION TYPE,STRIKE PRICE,OPEN,HIGH,LOW,CLOSE,LTP,SETTLE PRICE,TOTAL TRADED QUANTITY,MARKET LOT,PREMIUM VALUE,OPEN INTEREST,CHANGE IN OI,SYMBOL
0,2024-05-15,2024-05-16,CE,22500.0,15.0,18.90,3.85,4.50,4.20,4.50,145440875,25,3.273571e+12,10505750.0,4182700.0,NIFTY
1,2024-05-14,2024-05-16,CE,22500.0,16.5,23.55,10.10,13.80,13.45,13.80,82270125,25,1.852358e+12,6323050.0,1082025.0,NIFTY
2,2024-05-13,2024-05-16,CE,22500.0,17.3,20.50,6.25,13.95,16.50,13.95,67942550,25,1.529492e+12,5241025.0,-229000.0,NIFTY
3,2024-05-10,2024-05-16,CE,22500.0,29.2,40.75,16.20,20.45,20.30,20.45,47982750,25,1.080862e+12,5470025.0,1449525.0,NIFTY
4,2024-05-09,2024-05-16,CE,22500.0,90.0,100.75,23.05,24.65,25.00,24.65,27074775,25,6.103519e+11,4020500.0,1925150.0,NIFTY