In [ ]:
# !pip install yfinance

In [1]:
import os
import json
from datetime import datetime


import yfinance as yf

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
nifty50_list = []

with open('nifty50.txt','r') as f:
    for stk in f.readlines():
        nifty50_list.append(stk.split('\n')[0])
        # print(stk)

In [3]:
nifty100_list = []

with open('nifty100.txt','r') as f:
    for stk in f.readlines():
        nifty100_list.append(stk.split('\n')[0])
        # print(stk)

In [4]:
nifty50_df = pd.DataFrame()
for each_stk in nifty50_list:
    temp_df = yf.download(str(each_stk), start='2014-01-01', end='2024-05-15')
    temp_df['stk_type'] = str(each_stk)
    
    nifty50_df = pd.concat([nifty50_df,temp_df], axis=0)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
nifty100_df = pd.DataFrame()
for each_stk in nifty100_list:
    temp_df = yf.download(str(each_stk), start='2014-01-01', end='2024-05-15')
    temp_df['stk_type'] = str(each_stk)
    
    nifty100_df = pd.concat([nifty100_df,temp_df], axis=0)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
nifty50_df = nifty50_df.reset_index()
nifty100_df = nifty100_df.reset_index()

In [9]:
nifty50_df['Year'] = nifty50_df['Date'].dt.year
nifty50_df['Month'] = nifty50_df['Date'].dt.month
nifty50_df['Day'] = nifty50_df['Date'].dt.day

nifty100_df['Year'] = nifty100_df['Date'].dt.year
nifty100_df['Month'] = nifty100_df['Date'].dt.month
nifty100_df['Day'] = nifty100_df['Date'].dt.day

In [10]:
nifty50_df.to_csv("nifty50.csv", index=False)
nifty100_df.to_csv("nifty100.csv", index=False)

In [11]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 50)
nifty50_df[nifty50_df['stk_type']=='RELIANCE.NS']

,Date,Open,High,Low,Close,Adj Close,Volume,stk_type,Year,Month,Day
0,2014-01-01,410.283936,410.649689,405.780853,406.329468,379.456055,2924699,RELIANCE.NS,2014,1,1
1,2014-01-02,405.826569,409.621063,397.780457,400.020569,373.564423,3011816,RELIANCE.NS,2014,1,2
2,2014-01-03,398.466187,399.266235,390.877228,395.106018,368.974884,6416948,RELIANCE.NS,2014,1,3
3,2014-01-06,394.123108,394.648865,388.591400,390.854370,365.004425,6657928,RELIANCE.NS,2014,1,6
4,2014-01-07,390.694366,393.140198,384.042603,384.979797,359.518463,8655735,RELIANCE.NS,2014,1,7
...,...,...,...,...,...,...,...,...,...,...,...
2549,2024-05-08,2795.000000,2865.899902,2795.000000,2837.100098,2837.100098,4719501,RELIANCE.NS,2024,5,8
2550,2024-05-09,2826.000000,2847.500000,2780.000000,2788.250000,2788.250000,5504806,RELIANCE.NS,2024,5,9
2551,2024-05-10,2793.500000,2820.000000,2776.149902,2814.850098,2814.850098,5252548,RELIANCE.NS,2024,5,10
2552,2024-05-13,2799.800049,2813.949951,2768.000000,2805.399902,2805.399902,4228310,RELIANCE.NS,2024,5,13
2553,2024-05-14,2801.949951,2854.149902,2800.050049,2840.149902,2840.149902,3594150,RELIANCE.NS,2024,5,14

In [12]:
nifty100_df[nifty100_df['stk_type']=='RELIANCE.NS']

,Date,Open,High,Low,Close,Adj Close,Volume,stk_type,Year,Month,Day
168712,2014-01-01,410.283936,410.649689,405.780853,406.329468,379.456024,2924699,RELIANCE.NS,2014,1,1
168713,2014-01-02,405.826569,409.621063,397.780457,400.020569,373.564423,3011816,RELIANCE.NS,2014,1,2
168714,2014-01-03,398.466187,399.266235,390.877228,395.106018,368.974915,6416948,RELIANCE.NS,2014,1,3
168715,2014-01-06,394.123108,394.648865,388.591400,390.854370,365.004425,6657928,RELIANCE.NS,2014,1,6
168716,2014-01-07,390.694366,393.140198,384.042603,384.979797,359.518402,8655735,RELIANCE.NS,2014,1,7
...,...,...,...,...,...,...,...,...,...,...,...
171261,2024-05-08,2795.000000,2865.899902,2795.000000,2837.100098,2837.100098,4719501,RELIANCE.NS,2024,5,8
171262,2024-05-09,2826.000000,2847.500000,2780.000000,2788.250000,2788.250000,5504806,RELIANCE.NS,2024,5,9
171263,2024-05-10,2793.500000,2820.000000,2776.149902,2814.850098,2814.850098,5252548,RELIANCE.NS,2024,5,10
171264,2024-05-13,2799.800049,2813.949951,2768.000000,2805.399902,2805.399902,4228310,RELIANCE.NS,2024,5,13
171265,2024-05-14,2801.949951,2854.149902,2800.050049,2840.149902,2840.149902,3594150,RELIANCE.NS,2024,5,14

In [14]:
df_pivot_50 = pd.pivot_table(nifty50_df, values='Close', index='Date', columns='stk_type', aggfunc='sum')
df_pivot_100 = pd.pivot_table(nifty100_df, values='Close', index='Date', columns='stk_type', aggfunc='sum')

In [15]:
df_pivot_50.to_csv('nifty50_pivot.csv', index=False)
df_pivot_100.to_csv('nifty100_pivot.csv', index=False)

In [27]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df_pivot_50.isnull().sum()

stk_type
ADANIPORTS.NS      0
APOLLOHOSP.NS      0
ASIANPAINT.NS      0
AXISBANK.NS        0
BAJAJ-AUTO.NS      0
BAJAJFINSV.NS      0
BAJFINANCE.NS      0
BHARTIARTL.NS      0
BPCL.NS            0
BRITANNIA.NS       1
CIPLA.NS           0
COALINDIA.NS       0
DIVISLAB.NS        0
DRREDDY.NS         0
EICHERMOT.NS       0
GRASIM.NS          0
HCLTECH.NS         0
HDFCBANK.NS        0
HDFCLIFE.NS      954
HEROMOTOCO.NS      0
HINDALCO.NS        0
HINDUNILVR.NS      0
ICICIBANK.NS       0
INDUSINDBK.NS      0
INFY.NS            0
ITC.NS             0
JSWSTEEL.NS        0
KOTAKBANK.NS       0
LT.NS              0
M&M.NS             0
MARUTI.NS          0
NESTLEIND.NS       0
NTPC.NS            0
ONGC.NS            0
POWERGRID.NS       0
RELIANCE.NS        0
SBILIFE.NS       922
SBIN.NS            0
SHREECEM.NS        1
SUNPHARMA.NS       0
TATACONSUM.NS      0
TATAMOTORS.NS      0
TATASTEEL.NS       0
TCS.NS             0
TECHM.NS           0
TITAN.NS           0
ULTRACEMCO.NS      0
UPL.NS             0
WIPRO.NS           0
^NSEBANK         286
^NSEI             12
dtype: int64

In [28]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [25]:
stk_50 = list(set(nifty50_df['stk_type'].to_list()))
stk_100 = list(set(nifty100_df['stk_type'].to_list()))

In [26]:
for stk in stk_50:
    if stk not in stk_100:
        print(stk)

UPL.NS

In [ ]:

# end date data is excluded 
df_nifty = yf.download('^NSEI', start='2014-01-01', end='2024-05-15')
df_bnf = yf.download('^NSEBANK', start='2014-01-01', end='2024-05-15')

df_nifty = df_nifty.reset_index()
df_bnf = df_bnf.reset_index()

In [ ]:
df_nifty.head()

In [ ]:
df_bnf.head()

In [ ]:
df_nifty.shape, df_bnf.shape

In [ ]:
import pandas as pd

In [ ]:
merge_df = pd.merge(df_nifty,df_bnf, how='left', on='Date')

In [ ]:
merge_df.columns

In [ ]:
merge_df[['Close_x','Close_y']].corr()

In [ ]:
merge_df['nifty_hl_pc'] = ((merge_df['High_x'] - merge_df['Low_x'])/merge_df['Low_x'])*100
merge_df['nifty_oc_pc'] = ((merge_df['Close_x'] - merge_df['Open_x'])/merge_df['Open_x'])*100
merge_df['bnf_hl_pc'] = ((merge_df['High_y'] - merge_df['Low_y'])/merge_df['Low_y'])*100
merge_df['bnf_oc_pc'] = ((merge_df['Close_y'] - merge_df['Open_y'])/merge_df['Open_x'])*100

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.figure(figsize=(25,6))
sns.boxplot(merge_df['bnf_oc_pc'], orient='h')
# plt.xticks([i * 0.5 for i in range(int(21 / 0.4))])
plt.show()

In [ ]:
plt.figure(figsize=(25,6))
sns.boxplot(merge_df['nifty_oc_pc'], orient='h')
# plt.xticks([i * 0.3 for i in range(int(10 / 0.3))])
plt.show()

In [ ]:
merge_df['Year'] = merge_df['Date'].dt.year
merge_df['Month'] = merge_df['Date'].dt.month
merge_df['Day'] = merge_df['Date'].dt.day

In [ ]:
merge_df['Year'].unique()

In [ ]:
for each_year in merge_df['Year'].unique():
    new_df = merge_df[merge_df['Year'] == each_year]
    
    plt.figure(figsize=(25, 6))
    sns.boxplot(x='bnf_oc_pc', data=new_df)

    # Adjusting x-axis ticks
    # plt.xticks([i * 0.4 for i in range(int(22 / 0.4))])
    plt.title(str(each_year))

    plt.show()

In [ ]:
g = sns.FacetGrid(merge_df, col="Year")
g.map(sns.boxplot, "bnf_pc");

In [ ]:
import numpy as np
year_df_nifty = merge_df.groupby(['Year','Month'])['nifty_oc_pc'].agg([np.min,
                                            lambda x: np.percentile(x, 25),
                                            np.mean,
                                            np.median,                                          
                                             lambda x: np.percentile(x, 75),
                                              lambda x: np.percentile(x, 90),
                                              lambda x: np.percentile(x, 95),
                                              lambda x: np.percentile(x, 99),
                                              np.max,
                                              ]).reset_index()
year_df_nifty['type'] = 'nifty'
year_df_bnf = merge_df.groupby(['Year','Month'])['bnf_oc_pc'].agg([np.min,
                                            lambda x: np.percentile(x, 25),
                                            np.mean,
                                            np.median,                                          
                                             lambda x: np.percentile(x, 75),
                                              lambda x: np.percentile(x, 90),
                                              lambda x: np.percentile(x, 95),
                                              lambda x: np.percentile(x, 99),
                                              np.max,
                                              ]).reset_index()
year_df_bnf['type'] = 'bnf'

In [ ]:
import pandas as pd

In [ ]:
comb_df = pd.concat([year_df_nifty,year_df_bnf], axis= 0).reset_index(drop=True)

In [ ]:
comb_df

In [ ]:
plt.figure(figsize=(15,4))
sns.lineplot(x = range(1,126),y=comb_df[comb_df['type'] =='nifty']['mean'], label='nifty')
sns.lineplot(x = range(1,126),y=comb_df[comb_df['type'] =='bnf']['mean'], label='bnf')
plt.xticks(range(1,126))
plt.show()

In [ ]:
for each_year in merge_df['Year'].unique():
    new_df = comb_df[comb_df['Year'] == each_year]
    plt.figure(figsize=(15,4))
    sns.lineplot(x=new_df['Month'],y=new_df['mean'], hue = new_df['type'])
    plt.title(str(each_year))
    plt.xticks(range(1,13))
    plt.show()

In [ ]:
year_df

In [ ]:
info = yf.Ticker('HDFC.NS').info
info